#scroll-spy{
    position: sticky;
    top:50px;
   }

#search-box {
    margin-bottom: 0;
}

#game-box {
    margin-top: 50px;
}

#upvote-btn {
    margin: 50px;
}

#game-image {
    margin: 0;
    height: 200px;
    overflow: hidden;
}

#game-image img {
    width: 100%;
    padding-top: 50px;
}

#game-panel {
    margin: auto;
    width: 90%;
}

#game-card {
    margin: 0;
    width: 100%;
}

#game-caret {
    padding-top: 10px;
}

#game-name {
    font-size: 2rem;
}

#game-categories {
    margin-top: 10px;
}

#checklist {
    margin-top: 30px;
}

#checklist div {
    display: inline-block;
}

#requirements_list,
#rule_list {
    margin-bottom: 0;
}

#game_requirements,
#game_rules {
    margin-left: 30px;
    margin-bottom: 0;
}

#requirements-input,
#rule-input {
    margin-left: 50px;
}

#category-select {
    padding: 0;
}

@media only screen and (max-width: 475px){
    #brand-logo {
        font-size: 2rem;
        left: 10px;
        -webkit-transform: none;
        transform: none;
}
