#game-image {
    margin: 0;
    height: 200px;
    overflow: hidden;
}

#game-image img {
    width: 100%;
}

#game-card {
    margin: 0;
    width: 100%;
}

#game-name {
    font-size: 2rem;
}

#game-categories {
    margin-top: 10px;
}

#checklist {
    margin-top: 30px;
}

#checklist div {
    display: inline-block;
}

#requirements_list,
#rule_list {
    margin-bottom: 0;
}

#game_requirements,
#game_rules {
    margin-left: 30px;
    margin-bottom: 0;
}

#requirements-input,
#rule-input {
    margin-left: 50px;
}

#category-select {
    padding: 0;
}