{% extends "base.html" %}
{% block content %}

    <h3 class="center-align blue-grey-text text-darken-4">Categories</h3>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card blue-grey lighten-1">
                    <div class="center-align card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="center-align card-action">
                        <a href="#" class="waves-effect waves-light btn blue-grey darken-4">Edit</a>
                        <a href="#" class="waves-effect waves-light btn red">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}