{% extends "base.html" %}
{% block content %}

    <h3 class="center-align blue-grey-text text-darken-4">Categories</h3>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m3">
                <div class="card blue-grey lighten-1">
                    <div class="center-align card-content white-text">
                        <span class="card-title">{{ category.category_name }}</span>
                    </div>
                    <div class="center-align card-action">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}"
                            class="waves-effect waves-light btn blue-grey darken-4">Edit</a>
                        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="waves-effect waves-light btn red">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('add_category') }}" class="btn-large blue-grey darken-4">
                Add Category <i class="fas fa-plus right"></i>
            </a>
        </div>
    </div>


{% endblock %}