{% extends "base.html" %}
{% block content %}

<h3 class="center-align">The Drinking Game Dictionary</h3>

<div class="row">
    <div class="col s12 m9 l10">
        <div id="all-games" class="section scrollspy">
            <ul class="s12 collapsible">
                {% for game in games %}
                <li>
                    <div class="row" id="game-image">
                        <img src="{{ url_for('static', filename='images/playing-cards.jpg') }}" alt="Playing cards">
                    </div>
                    <div class="s12 collapsible-header blue-grey darken-4 white-text">
                        <div id="game-caret" class="col s3">
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="col s9" id="game-card">
                            <span id="game-name" class="left"><strong>{{game.game_name}}</strong></span>
                            <span id="game-categories" class="right">
                                {% for category in game.category_name %}
                                    {{ category }}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div>
                            <h6>Description:</h6>
                            <p>{{game.game_description}}</p>
                            <p>Submitted by: {{ game.submitted_by }}</p>
                        </div>
                        
                        <div class="center-align">
                            {% if session.user|lower == game.submitted_by|lower or session.user|lower == "admin" %}
                                <a href="{{ url_for('edit_game', game_id=game._id) }}" class="waves-effect waves-light btn blue-grey darken-4">Edit</a>
                            {% endif %}
                            {% if session.user|lower == "admin" %}
                                <a href="{{ url_for('delete_game', game_id=game._id) }}" class="waves-effect waves-light btn red">Delete</a>
                            {% endif %}
                        </div>
                        
                    </div>
                    
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="card-games" class="section scrollspy">
            <p>Card Games </p>
        </div>
    
        <div id="classic-games" class="section scrollspy">
            <p>Classic Games </p>
        </div>

        <div id="group-games" class="section scrollspy">
            <p>Group Games </p>
        </div>

        <div id="misc-games" class="section scrollspy">
            <p>Miscellaneous </p>
        </div>

        <div id="classic-games" class="section scrollspy">
            <p>Team Games </p>
        </div>

        <div id="group-games" class="section scrollspy">
            <p>Top 5 Games </p>
        </div>

        <div id="misc-games" class="section scrollspy">
            <p>Virtual Games </p>
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents">
          <li><a href="#all-games">All Games</a></li>
          <li><a href="#card-games">Card Games</a></li>
          <li><a href="#classic-games">Classic Games</a></li>
          <li><a href="#group-games">Group Games</a></li>
          <li><a href="#misc-games">Miscellaneous</a></li>
          <li><a href="#team-games">Team Games</a></li>
          <li><a href="#top-five">Top 5 Games</a></li>
          <li><a href="#virtual-games">Virtual Games</a></li>
        </ul>
    </div>

</div>




{% endblock %}