{% extends "base.html" %}
{% block content %}

<h3 class="center-align blue-grey-text text-darken-4">The Drinking Game Dictionary</h3>

<h4 class="center-align blue-grey-text text-darken-4">Got a game? <a href="{{ url_for('register') }}">Sign up</a> to
    submit!</h4>
<div class="row">
    <hr class="col s8 offset-s2 blue-grey darken-4">
</div>


<div class="row">
    <div class="col s12 m9 l10">



        <div id="all-games" class="section scrollspy">
            <h4 class="center-align blue-grey-text text-darken-4">All Games</h4>
            <ul class="s12 collapsible">
                {% for game in games %}
                <li>

                    <div class="row" id="game-image">
                        {% if game.category_name[0] == "Card Games" %}
                        <img src="{{ url_for('static', filename='images/playing-cards.jpg') }}" alt="Playing cards">
                        {% elif game.category_name[0] == "Team Games" %}
                        <img src="{{ url_for('static', filename='images/beer-pong.jpg') }}" alt="Beer pong">
                        {% elif game.category_name[0] == "Board Games" %}
                        <img src="{{ url_for('static', filename='images/drinking-chess.jpg') }}" alt="Drinking chess">
                        {% elif game.category_name[0] == "Virtual Games" %}
                        <img src="{{ url_for('static', filename='images/computer-wine.jpg') }}" alt="Laptop and wine">
                        {% elif game.category_name[0] == "Classic Games" %}
                        <img src="{{ url_for('static', filename='images/classic-beer.jpg') }}" alt="Cheers">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/dice.jpg') }}" alt="Dice">
                        {% endif %}
                    </div>
                    <div class="s12 collapsible-header blue-grey darken-4 white-text">
                        <div id="game-caret" class="col s1">
                            <i class="fas fa-caret-down"></i>
                        </div>
                        <div class="col s11" id="game-card">
                            <span id="game-name" class="left"><strong>{{game.game_name}}</strong></span>
                            <span id="game-categories" class="right">
                                <p>
                                    {% for category in game.category_name %}
                                    {{ category }}
                                    {% endfor %}
                                </p>
                                <p class="right">Rating: {{ game.game_rating }}</p>

                            </span>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <div>
                            <h6>Description:</h6>
                            <p>{{game.game_description}}</p>
                            <p>Submitted by: {{ game.submitted_by }}</p>
                        </div>

                        <div class="center-align">
                            <a href="{{ url_for('game_page', game_id=game._id) }}"
                                class="waves-effect waves-light btn blue-grey darken-4">Rules</a>
                            {% if session.user|lower == game.submitted_by|lower or session.user|lower == "admin" %}
                            <a href="{{ url_for('edit_game', game_id=game._id) }}"
                                class="waves-effect waves-light btn blue-grey darken-4">Edit</a>
                            {% endif %}
                            {% if session.user|lower == "admin" %}
                            <a href="{{ url_for('delete_game', game_id=game._id) }}"
                                class="waves-effect waves-light btn red">Delete</a>
                            {% endif %}
                        </div>

                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- category section -->
        {% for category in categories %}

            <div id="{{ category._id }}" class="section scrollspy">
                <h4 class="center-align blue-grey-text text-darken-4">{{ category.category_name }}</h4>
                <ul class="s12 collapsible">
                    {% for game in games %}
                        
                            <li>

                                <div class="row" id="game-image">
                                    {% if game.category_name[0] == "Card Games" %}
                                    <img src="{{ url_for('static', filename='images/playing-cards.jpg') }}" alt="Playing cards">
                                    {% elif game.category_name[0] == "Team Games" %}
                                    <img src="{{ url_for('static', filename='images/beer-pong.jpg') }}" alt="Beer pong">
                                    {% elif game.category_name[0] == "Board Games" %}
                                    <img src="{{ url_for('static', filename='images/drinking-chess.jpg') }}" alt="Drinking chess">
                                    {% elif game.category_name[0] == "Virtual Games" %}
                                    <img src="{{ url_for('static', filename='images/computer-wine.jpg') }}" alt="Laptop and wine">
                                    {% elif game.category_name[0] == "Classic Games" %}
                                    <img src="{{ url_for('static', filename='images/classic-beer.jpg') }}" alt="Cheers">
                                    {% else %}
                                    <img src="{{ url_for('static', filename='images/dice.jpg') }}" alt="Dice">
                                    {% endif %}
                                </div>
                                <div class="s12 collapsible-header blue-grey darken-4 white-text">
                                    <div id="game-caret" class="col s1">
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="col s11" id="game-card">
                                        <span id="game-name" class="left"><strong>{{game.game_name}}</strong></span>
                                        <span id="game-categories" class="right">
                                            <p>
                                                {% for category in game.category_name %}
                                                    {{ category }}
                                                {% endfor %}
                                            </p>
                                            <p class="right">Rating: {{ game.game_rating }}</p>

                                        </span>
                                    </div>
                                </div>
                                <div class="collapsible-body">
                                    <div>
                                        <h6>Description:</h6>
                                        <p>{{game.game_description}}</p>
                                        <p>Submitted by: {{ game.submitted_by }}</p>
                                    </div>

                                    <div class="center-align">
                                        <a href="{{ url_for('game_page', game_id=game._id) }}"
                                            class="waves-effect waves-light btn blue-grey darken-4">Rules</a>
                                        {% if session.user|lower == game.submitted_by|lower or session.user|lower == "admin" %}
                                        <a href="{{ url_for('edit_game', game_id=game._id) }}"
                                            class="waves-effect waves-light btn blue-grey darken-4">Edit</a>
                                        {% endif %}
                                        {% if session.user|lower == "admin" %}
                                        <a href="{{ url_for('delete_game', game_id=game._id) }}"
                                            class="waves-effect waves-light btn red">Delete</a>
                                        {% endif %}
                                    </div>

                                </div>

                            </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

        <!-- end category -->




    </div>
    <div id="scroll-spy" class="col hide-on-small-only m3 l2">
        <div class="row blue-grey lighten-5">
            <form action="{{ url_for('search') }}" method="post" class="col s12">
                <div id="search-box" class="row center-align">
                    <div class="input-field col s12">
                        <i class="fas fa-search prefix blue-grey-text text-darken-4"></i>
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search</label>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col s12">
                        <a href="{{ url_for('get_games') }}" class="red btn">Reset</a>
                        <button type="submit" class="blue-grey darken-4 btn">
                            <i class="fas fa-search left"></i> Search
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <h5 class="blue-grey-text text-darken-4">Categories</h5>
        <ul class="section table-of-contents">
            <li><a href="#all-games">All Games</a></li>
            {% for category in categories %}
                <li><a href="#{{ category._id }}">{{ category.category_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}




<!-- <h3 class="center-align">The Drinking Game Dictionary</h3>

<div class="row">
    <div class="col s12 m9">
        <ul class="s12 collapsible">
            {% for game in games %}
            <li>
                <div class="row" id="game-image">
                    <img src="{{ url_for('static', filename='images/playing-cards.jpg') }}" alt="Playing cards">
                </div>
                <div class="s12 collapsible-header blue-grey darken-4 white-text">
                    <div id="game-caret" class="col s3">
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="col s9" id="game-card">
                        <span id="game-name" class="left"><strong>{{game.game_name}}</strong></span>
                        <span id="game-categories" class="right">
                            {% for category in game.category_name %}
                                {{ category }}
                            {% endfor %}
                        </span>
                    </div>
                </div>
                <div class="collapsible-body">
                    <div>
                        <h6>Description:</h6>
                        <p>{{game.game_description}}</p>
                        <p>Submitted by: {{ game.submitted_by }}</p>
                    </div>
                    
                    <div class="center-align">
                        {% if session.user|lower == game.submitted_by|lower or session.user|lower == "admin" %}
                            <a href="{{ url_for('edit_game', game_id=game._id) }}" class="waves-effect waves-light btn blue-grey darken-4">Edit</a>
                        {% endif %}
                        {% if session.user|lower == "admin" %}
                            <a href="{{ url_for('delete_game', game_id=game._id) }}" class="waves-effect waves-light btn red">Delete</a>
                        {% endif %}
                    </div>
                    
                </div>
                
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col m3">
        <div class="row">
            <div class="col s12 m9 l10">
              <div id="introduction" class="section scrollspy">
                <p>Content </p>
              </div>
        
              <div id="structure" class="section scrollspy">
                <p>Content </p>
              </div>
        
              <div id="initialization" class="section scrollspy">
                <p>Content </p>
              </div>
            </div>
            <div class="col hide-on-small-only m3 l2">
              <ul class="section table-of-contents">
                <li><a href="#introduction">Introduction</a></li>
                <li><a href="#structure">Structure</a></li>
                <li><a href="#initialization">Intialization</a></li>
              </ul>
            </div>
          </div>
    </div>
</div> -->